<% @photos.each do |photo| %>
  <div>
    <%= ('<img src="data:image/jpg;base64,%s">' % Base64.encode64(thumbnail(photo.path_lower))).html_safe %>
    <div><%= photo.location %></div>
    <div><%= photo.time_taken %></div>
  </div>
<% end %>

<% if @photos.count.zero? %>
  <div>
    No Photos
  </div>
<% end %>
