<% @photos.each do |photo| %>
  <div>
    <div><%= photo[:path] %></div>

    <% if photo[:latitude] %>
      <div><%= photo[:latitude] %>, <%= photo[:longitude] %></div>
    <% end %>

    <% if photo[:near_museum] %>
      <div>Near museum: <%= photo[:near_museum] %></div>
    <% end %>
  </div>
<% end %>
