<% @photos.each do |photo| %>
  <div>
    <div><%= photo.path_lower %></div>
    <div><%= photo.location %></div>
  </div>
<% end %>

<% if @photos.count.zero? %>
  <div>
    No Photos
  </div>
<% end %>
