<title>MuseumPhotoReview</title>

<style>
  body {
    display: grid;
    font-family: monospace;
    font-size: 18px;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    margin: 0;
    padding: 1rem;
  }
</style>

<%= yield %>
